
.entry-title {
    color: white;
    display: block;
    font-size: 3rem;
    font-weight: bold;
}
.entry-content {
    margin: 0 300px;
    h2 {
        color: $color_purple;
        font-size: 2rem;
        font-weight: bold;
    }
}