/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

html {
	box-sizing: border-box;
	@include font-size(1);
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: $base__space-unit;
}

ul, ol {
	margin: 0 0 $base__space-unit ($base__space-unit * 2);
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: $base__space-unit;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 $base__space-unit $base__space-unit;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	margin: 0 0 $base__space-unit;
	width: 100%;
}

// hero background
.hero {
	display: flex;
	height: 700px;
	width: 100%;
	background-image: url(../../images/home-hero.jpg);
	background-size: cover, cover;
	align-items: center;
	justify-content: center;
}

// about hero background
.entry-header {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	text-transform: uppercase;
}






// footer styling
footer {
	background-image: url(../../images/dark-wood.png);
	height: 400px;
	color: white;
	h3 {
		color: #d99054;
		text-transform: uppercase;
	}
	.footer-container {
		display: flex;
		flex-direction: row;
		.footer-logo {
			width: 30%;
			img {
				margin-top: 50px;
			}
		}
		.contact-info {
			width: 30%;
			.email:before {
				font-family: FontAwesome;
				content: "\f0e0";
				padding-right: 0.5em;
			}
			.phone:before {
				font-family: FontAwesome;
				content: "\f095";
				padding-right: 0.5em;
			}
			.facebook:before {
				font-family: FontAwesome;
				content: "\f082";
				padding-right: 0.5em;
			}
			.twitter:before {
				font-family: FontAwesome;
				content: "\f081";
				padding-right: 0.5em;
			}
			.google:before {
				font-family: FontAwesome;
				content: "\f0d4";
				padding-right: 0.5em;
			}
		}
		.business-hours {
			width: 30%;
		}
	}
}
//  fonts



// end of footer styling
.journal-entry h3 {
	margin: 0%;
}

.icon-container img {
	height: 100px;
}
.shop-categories {
	width: 100%;
	display: flex;
}
.shop-entry-container {
	width: 100%;
}