
.find-us-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    .find-us-container {
        text-align: left;
        width: 70%;
        .entry-title {
            color: black;
            display: block;
            font-size: 3rem;
            font-weight: bold;
            text-align: left;
            margin-left: 20px;
        }
        .entry-content {
            margin-left: 20px;
            h2 {
                color: $color_purple;
                font-size: 2rem;
                font-weight: bold;
                text-align: left;
            }
        }
    }
}
