
.site-content {
    max-width: $fixed__width;
    margin: auto;
    .find-us-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto;
        .find-us-container {
            width: 100%;
            margin: auto;
            border-right: 1px solid $color__light-grey;
            .entry-title {
                color: black;
                display: block;
                font-size: 3rem;
                font-weight: bold;
                text-align: left;
            }
            .entry-content {
                h2 {
                    color: $color__purple;
                    font-size: 2rem;
                    text-align: left;
                    background: none;
                    margin: 10px 0px;
                    padding: 0;
                    width: 100%;
                }
                p {
                    margin: 0;
                }
                form {
                    color: $color__purple;
                    font-family: $font__accent;
                    font-size: 1.2rem;
                    p {
                        input {
                            
                        }
                    }
                }
            }
        }
    }
}

