/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/


@font-face {
    font-family: 'Merriweather';
    src: url('../../fonts/Merriweather-BoldItalic.eot');
    src: url('../../fonts/Merriweather-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Merriweather-BoldItalic.woff2') format('woff2'),
        url('../../fonts/Merriweather-BoldItalic.woff') format('woff'),
        url('../../fonts/Merriweather-BoldItalic.ttf') format('truetype'),
        url('../../fonts/Merriweather-BoldItalic.svg#Merriweather-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../../fonts/Merriweather-Light.eot');
    src: url('../../fonts/Merriweather-Light.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Merriweather-Light.woff2') format('woff2'),
        url('../../fonts/Merriweather-Light.woff') format('woff'),
        url('../../fonts/Merriweather-Light.ttf') format('truetype'),
        url('../../fonts/Merriweather-Light.svg#Merriweather-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../../fonts/Merriweather-LightItalic.eot');
    src: url('../../fonts/Merriweather-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Merriweather-LightItalic.woff2') format('woff2'),
        url('../../fonts/Merriweather-LightItalic.woff') format('woff'),
        url('../../fonts/Merriweather-LightItalic.ttf') format('truetype'),
        url('../../fonts/Merriweather-LightItalic.svg#Merriweather-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../../fonts/Merriweather-Bold.eot');
    src: url('../../fonts/Merriweather-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Merriweather-Bold.woff2') format('woff2'),
        url('../../fonts/Merriweather-Bold.woff') format('woff'),
        url('../../fonts/Merriweather-Bold.ttf') format('truetype'),
        url('../../fonts/Merriweather-Bold.svg#Merriweather-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Novecento Sans Web';
    src: url('../../fonts/novecentosanswide-demibold-webfont.eot');
    src: url('../../fonts/novecentosanswide-demibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/novecentosanswide-demibold-webfont.woff2') format('woff2'),
         url('../../fonts/novecentosanswide-demibold-webfont.woff') format('woff'),
         url('../../fonts/novecentosanswide-demibold-webfont.ttf') format('truetype'),
         url('../../fonts/novecentosanswide-demibold-webfont.svg#novecento_sans_widedemibold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Novecento Sans Web';
    src: url('../../fonts/novecentosanswide-normal-webfont.eot');
    src: url('../../fonts/novecentosanswide-normal-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/novecentosanswide-normal-webfont.woff2') format('woff2'),
         url('../../fonts/novecentosanswide-normal-webfont.woff') format('woff'),
         url('../../fonts/novecentosanswide-normal-webfont.ttf') format('truetype'),
         url('../../fonts/novecentosanswide-normal-webfont.svg#novecento_sans_widenormal') format('svg');
    font-weight: normal;
    font-style: normal;
}
