// footer styling
.site-footer {
    height: 355px;
    background: url('../../images/dark-wood.png') repeat;
    color: white;
    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 3rem;
        .contact-info {
            width: 25%;
            padding-left: 6rem;
            i {
                margin-right: 1rem;
            }
        }
        .business-hours {
            width: 25%;
            padding-left: 1rem;
        }
        .footer-logo {
            width: 50%;
            height: 50px;
            display: flex;
            justify-content: flex-end;
            img {
                padding-right: 6rem;
            }
        }
        .site-info {
            width: 100%;
            text-align: center;
            font-family: $font__accent;
        }
        h3 {
            color: $color__orange;
        }
        span {
            font-weight: bold;
        }
    }
}