.hero {
	display: flex;
	height: 700px;
	width: 100%;
	background-image: url(../../images/home-hero.jpg);
	background-size: cover, cover;
	align-items: center;
	justify-content: center;
}

h1, h2 {
    width: 100%;
    text-align: center;
    font-weight: lighter;
    margin: 2rem 0;
}


.shop-entry-container {
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 100%;
    justify-content: center;
    ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 200px;
        padding: 0;
    }
    li {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        border: $solid__border;
        border-top-width: 5px;
        width: 23%;

        &:hover {
            border-color: $color_orange;
        }
        img {
            height: 80px;
        }
        p {
            margin: 0px 10px;
        }
        button {
            background: $color_green;
            color: white;
            border-color: inherit;
            border: 0;
            border-radius: 0;
            box-shadow: none;
            padding: 1rem 1rem;
            font-family: $font__accent;
            font-weight: lighter;

            &:hover {
                background: darken($color_green, 10%);
            }
        }
    }
}

.latest-entry-container {
    display: flex;
    flex-direction: row;
    height: 420px;
    width: 100%;
    justify-content: center;
    ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 200px;
        padding: 0;
        li {
            display: flex;
            flex-direction: column;
            width: 32%;
            border: $solid__border;
            div {
                width: 100%;
                height: 250px;
            }
            p {
                font-size: 12px;
                margin: 0 5px;
            }
            a:link {
                text-decoration: none;
            }
            h2 {
                margin: 0 5px 10px;
                color: $color_green;

                &:hover {
                    color: $color_purple;
                }
            }
            button {
                background-color: transparent;
                border-color: black;
                border-radius: 0;
                box-shadow: none;
                font-family: $font__accent;
                font-weight: lighter;
                margin-left: 5px;

                &:hover {
                    background: $color_green;
                    color: white;
                    border-color: inherit;
                    border: 0;
                    box-shadow: none;
                    font-family: $font__accent;
                    font-weight: lighter;
                    margin-left: 5px;
                }
            }
        } 
    }
}

.adventure {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 550px;
    color: white;
    box-sizing: border-box;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
    h1, h2, {
        font-family: $font__main;
        width: 100%;
        text-align: center;
        font-weight: lighter;
        margin: 2rem 0;
    }
    span {
        border-style: solid;
        border-color: white;
        border-width: thin;
        margin-left: 10px;
        padding: 10px;
        font-family: $font__accent;
        font-weight: lighter;

        &:hover {
            background: $color_green;
            color: white;
            border-color: inherit;
            border: 0;
        }
    }
    .canoe {
        border-style: solid;
        border-color: white;
        border-width: 0 10px 0 0;
        height: 100%;
        width: 50%;
        background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)), url(../../images/canoe-girl.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        box-sizing: border-box;
    }
    .container {
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .beach {
            border-style: solid;
            border-color: white;
            border-width: 0 0 10px 10px;
            height: 50%;
            width: 100%;
            background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)), url(../../images/beach-bonfire.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }
        .mountain {
            border-style: solid;
            border-color: white;
            border-width: 10px 10px 0 10px;
            height: 50%;
            width: 50%;
            background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)), url(../../images/mountain-hikers.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }
        .sky {
            border-style: solid;
            border-color: white;
            border-width: 10px 0 0 10px;
            height: 50%;
            width: 50%;
            background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)), url(../../images/night-sky.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

}
.more-adventures {
    background-color: $color_green;
    padding: 10px 20px;
    color: white;
    font-family: $font__accent;
    font-weight: lighter;
    font-size: 1.5rem;
    margin-left: 200px;

    &:hover {
        background: darken($color_green, 10%);
    }
}