.hero {
	display: flex;
	height: 700px;
	width: 100%;
	background-image: url(../../images/home-hero.jpg);
	background-size: cover, cover;
	align-items: center;
	justify-content: center;
}



h1 {
    width: 100%;
    text-align: center;
    font-weight: lighter;
    margin: 2rem 0;
}


.shop-entry-container {
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 100%;
    justify-content: center;
    ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 200px;
        padding: 0;
    }
    li {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        border: $solid__border;
        border-top-width: 5px;
        width: 23%;
        img {
            height: 80px;
        }
        p {
            margin: 0px 10px;
        }
        button {
            background: $color_green;
            color: white;
            border-color: inherit;
            border: 0;
            border-radius: 0;
            box-shadow: none;
            padding: 1rem 1rem;
            font-family: $font__accent;
            font-weight: lighter;
        }
    }
}

.latest-entry-container {
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 100%;
    justify-content: center;
    ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 200px;
        padding: 0;
        li {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
            width: 32%;
            border: $solid__border;
            div {
                width: 100%;
            }
            p {
                margin: 0;
            }
            h2 {
                margin: 0 2rem;
            }
        } 
    }
}