.site-header {
    box-sizing: border-box;
    height: 36px;
    border-bottom: 1px solid $color__light-grey;
    .menu-container {
        max-width: $fixed__width;
        margin: auto;
        .main-navigation {
            display: flex;
            flex-direction: row;
            align-content: center;
            width: 100%;
            height: 33px;
            
            img {
                height: 33px;
            }
            .menu-menu-1-container {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                width: 100%;
                .menu {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    li {
                        font-family: $font__accent;
                        color: $color__green;
                        font-size: 1.2rem;
                        font-weight: lighter;
                        margin: 0 20px;
                        a:visited {
                            color: $color__green;
                        }
                    }
                }
            }
        }
    }
}
