.journal-container {
	display: flex;
	flex-direction: row;
    width: 100%;
    .journal-entrys {
        width: 100%;
        border-right: 1px solid $color__light-grey;
            .read-more {
                width: 20%;
                background-color: white;
                border-color: black;
                border-radius: 0;
                box-shadow: none;
                font-family: $font__accent;
                font-weight: lighter;
                font-size: 15px;
                padding: 10px 20px;
                margin: 0 1px;

            a:link {
                text-decoration: none;
                color: black;
            }
            a:visited {
                    color: black;
            }
        }
    }
}


