.journal-container {
	display: flex;
	flex-direction: row;
    width: 100%;
    .journal-entrys {
        width: 100%;
            .read-more {
                background-color: transparent;
                border-color: black;
                border-radius: 0;
                border-width: 5px;
                box-shadow: none;
                font-family: $font__accent;
                font-weight: lighter;
            a:link {
                text-decoration: none;
                color: black;
            }
            a:visited {
                    color: black;
            }
        }
    }
}


