.single-product-container {
    display: flex;
    flex-direction: row;
    max-width: $fixed__width;
    margin-bottom: 100px;
    .img-container {
        width: 50%;
        margin-top: 50px;
    }

    .description-container {
        width: 40%;
        margin-top: 40px;
        margin-left: 20px;  
        display: flex;
        flex-direction: column;
        align-content: space-between;
        .entry-content{
            margin: 0;
            span {
                font-family: $font__accent;
                font-size: 1.7rem;
            }
            h1 {
                color: $color__orange;
                margin: 0;
                font-size: 2.7rem;
                text-align: left;
                font-weight: bold;
            }
        }
    }
}