/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 $base__space-unit;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}


/*----------move!!----*/

.widget-area {
	width: 30%;
}
.journal-entrys {
	width: 70%;
}
.entry-content {
	display: flex;
	flex-direction: column;
}






/* Search widget. */
.widget_search .search-submit {
	display: none;
}
